.brandBox {
    width: 100px;
    height: 130px;
    border: 1px solid rgb(187, 187, 187);
    display: inline-block;
    margin-left: 25px;
    border-radius: 5px;
    margin-top: 25px;
    background-color: white;

    .imgSec {
        width: 100%;
        height: 100px;
        border-radius: 5px 5px 0px 0px;

        img {
            width: 100%;
            height: 100px;
            border-radius: 5px 5px 0px 0px;
        }
    }

    .name {
        line-height: 30px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: .4px;
        color: #474747;
        border-top: 1px solid rgb(233, 233, 233);
    }
}

@media (max-width:500px) {
    .brandBox{
        width: 26.2%;
        margin-left: 20px;
        margin-top: 20px;
    }
}
@media (max-width:380px) {
    .brandBox{
        width: 25.75%;
    }
}
