.company {
    width: 340px;
    height: 110px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 25px;
    position: relative;

    p {
        width: 240px;
    }
    .btn {
        background: linear-gradient(#E54CFE, #0F55A7);
        border: none;
        color: white;
        font-size: 10px;
        line-height: 7px;
        width: 100px;
        border-radius: 15px;
        margin-left: 40px;
        margin-top: -13px;
    }

    img{
        width: 100px;
        height: 100;
        position: absolute;
        top:20px;
        right: 20px;
    }

}