.profilePage {
    width: 400px;
    height: 100vh;
    background-color: rgb(245, 248, 252);

    .header {
        width: 100%;
        padding-top: 40px;
        background-color: #0F55A7;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 400;
        color: white;
        padding-left: 10px;
        margin-bottom: 40px;

        .back {
            color: white;
            margin-top: -7px;
        }
    }

    .imgSection {
        width: 200px;
        margin: auto;
        margin-top: 50px;
        display: grid;
        place-content: center;
        position: relative;

        img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
        }

        .edit {
            position: absolute;
            width: 45px;
            height: 45px;
            background-color: #0F55A7;
            border-radius: 50%;
            right: 20px;
            bottom: 0px;
            color: white;
            display: grid;
            place-content: center;
            cursor: pointer;
        }
        
        input {
            cursor: pointer;
            position: absolute;
            width: 45px;
            height: 45px;
            right: 20px;
            bottom: 0px;
            border-radius: 50%;
            opacity: 0;
        }
    }

    h4 {
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        color: #474747;
        margin-bottom: 50px;
    }

    .proSection {
        display: grid;
        grid-template-columns: 65px 1fr;
        width: 100%;
        color: #474747;
        margin-top: 25px;
        cursor: pointer;

        .d1 {
            text-align: center;
        }

        .d2 {
            position: relative;
            border-bottom: 1px solid rgb(203, 202, 202);
            margin-right: 35px;

            p {
                font-size: 12px;
                padding-right: 100px;
                color: #797979;
            }

            span {
                position: absolute;
                top: 20px;
                color: #797979;
                right: 0px;
            }

        }
    }
}

@media (max-width:500px) {
    .profilePage{
        width: 100%;

        .proSection{
            .d2{
                margin-right: 20px;
                p{
                    padding-right: 20%;
                }
            }
        }
    }
}