.cateData{
    width: 196.8px;
    height: 310px;
    background-color: white;
    display: inline-block;
    margin-left: 2px;
    margin-top: 2.5px;
    cursor: pointer;

    .imgCon1{
        width: 100%;
        height: 160px;
        margin-top: 0px;
        display: grid;
        place-content: center;

        img{
            width: 100%;
            height: 160px;
        }
    }
    section{
        text-align: right; 
        padding-right: 10px;
        margin-top: 5px;
    }
    div{
        font-weight: 500;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 3px;
    }
    p{
        font-size: 11px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 3px;
        color: #797979;
        margin-bottom: 2px;
    }
    span{
        color: #6B8BAF;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:500px) {
    .cateData{
        width: 49.35%;
    }
}