.innerCate {
    width: 400px;
    height: 100vh;
    background-color: rgb(245, 248, 252);
    position: relative;
    overflow: hidden;
    max-height: 850px;

    .header {
        width: 100%;
        height: 85px;
        background-color: #0F55A7;
        display: grid;
        grid-template-columns: 78px 1fr 70px;
        padding-top: 30px;

        .d1 {

            img {
                width: 35px;
                height: auto;
                margin-left: 21px;
                margin-top: 6px;
            }
            #on {
                display: none !important;
            }

            #off {
                display: inline-block !important;
            }
        }

        .d2 {
            position: relative;

            input {
                color: rgb(255, 255, 255, 0.9);
                width: 100%;
                line-height: 40px;
                background-color: rgb(255, 255, 255, 0.1);
                border: none;
                border-radius: 5px;
                padding-left: 55px;
                outline: none;

                &::placeholder {
                    color: rgb(255, 255, 255, 0.5);
                }
            }

            span {
                position: absolute;
                left: 15px;
                top: 7px;
                color: rgb(255, 255, 255, 0.6);
            }
        }

        .d3 {
            padding-left: 15px;
            padding-top: 2.5px;
            color: white;
        }
    }

    .opt {
        width: 100%;
        height: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        border-bottom: 1px solid  rgb(245, 248, 252);

        #d4,
        #d5 {
            display: grid;
            place-content: center;
            color: #0F55A7;
            cursor: pointer;

            span{
                position: relative;
                top:-2px;
            }
        }

        #d4 {
            border-right: 1px solid rgb(245, 248, 252);
        }

        #d5 {
            border-left: 1px solid rgb(245, 248, 252);
        }
    }

    .dataBox{
        height: 81.6vh;
        max-height: 714px;
        padding-bottom: 2px;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }


    #cover3{
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.4);
        position: absolute;
        top:0px;
        left: 0px;
        z-index: 5;
        display: none;
        cursor: pointer;
    }

    #filter, #category1{
        width: 100%;
        height: 250px;
        background-color: white;
        position: absolute;
        bottom: -250px;
        border-radius: 30px 30px 0px 0px;
        z-index: 10;
        transition: .4s;

        div{
            text-align: center;
            line-height: 60px;
            font-size: 20px;
            font-weight: 500;
            border-bottom: 1px solid #D9D9D9;
            color: #797979;
            letter-spacing: .6px;
            margin-bottom: 10px;
        }
        .bt{
            width: 90%;
            margin-left: 5%;
            margin-top: 10px;
            line-height: 30px;
            color: #797979;
            text-transform: none;
            letter-spacing: .6px;
        }
    }

    #category1{
        height: 400px;
        bottom: -400px;
    }



}


@media (max-width:500px) {

    .innerCate {
        width: 100%;

        .header {
            .d1 {
                #on {
                    display: inline-block !important;
                }
    
                #off {
                    display: none !important;
                }
            }
        }
    }

}