.sales {

    position: relative;
    width: 400px;
    height: 100vh;
    background-color: white;


    .navBar {
        position: relative;
        width: 320px;
        height: 50px;
        margin-left: 45px;
        margin-top: 30px;
        

        img {
            margin-top: 15px;
            cursor: pointer;
        }

        #pro {
            position: absolute;
            top:13px;
            right: 0;
            width: 25px;
            height: 25px;
            margin: auto;
            cursor: pointer;
        }
    }

    .filter{
       width: 100%;   
       position: relative;
       height: 30px;
       overflow: hidden;
       
       span{
           position: absolute;
           right: 120px;
           top:-4px;
           color: #0F55A7;
        }
        
        select{
            background-color: red;
            width: 150px;
            text-align: right;
            position: absolute;
            padding-right: 5px;
            right: 5px;
            font-size: 18px;
            border: none;
            color: #474747;
            background-color: transparent;
        }
    }
    hr{
        color: #868585;
    }
    #hr{
        height: 4px;
        color: #9f9e9e;
    }

    .saleCon{
        margin-top: -16px;
        width: 100%;
        height: 70vh;
        padding-bottom: 35px;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .footCon{
        position: fixed;
        bottom: 0px;
    }

}

#Onbtn {
    display: none;
}

#Offbtn {
    display: inline-block;
}


/////////////////////////////////
@media (max-width:1050px) {
    .sales {
        height: 800px;
        margin-left: 280px;

        .saleCon{
            height: 650px;
        }
    }
}

//////////////////////////////////////


@media (max-width:500px) {

    .sales {
        margin-left: 0px;
    }

    #Onbtn {
        display: inline-block;
    }

    #Offbtn{
        display: none;
    }
}

@media (max-width:400px) {
    .sales {
        height: 100vh;
    }
}

@media (max-width:380px) {
    .sales {

        .navBar{
            margin-left: 50px;
        }

        .filter{
          select{
              right: -25px;
          }
          span{
              right: 115px;
          };
        }

        .saleCon{
            padding-bottom: 77px;
        }
    }
}
